<!--マイページ-->

<h1>User info</h1>
<%= image_tag @user.get_profile_image(100,100) %>
<p>Name <%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>

<%= button_to edit_user_path, method: :get do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>


<h1>New book</h1>
<%= form_with model: @book do |f| %>

<div class="field">
<label for="book_title">Title</label>
 <%= f.text_field :title %>
</div>

<div class="field">
<ladel for="book_body">Opinion</ladel>
 <%= f.text_area :body %>
</div>

<div class="actions">
 <%= f.submit 'Create Book' %>
</div>
 <% end %>
